* {
 font-family: Roboto;
}

body {
 margin: 0;
 padding: 0px 600px;
}

/* Navbar section*/
header {
 background-color: #1f2937;
 flex-shrink: 0;
 padding-top: 25px;
}

nav {
 display: flex;
 justify-content: space-between;
 padding: 0px 300px;
}

nav a {
 color: white;
 text-decoration: none;
}

.header-logo {
 font-weight: 900;
 font-size: 32px;
}

.nav-buttons-container {
 display: flex;
 gap: 20px;
}

.nav-buttons {
 color: #e5e7eb;
 font-size: 24px;
 font-weight: 200;
}

/* Hero section */
#hero {
 background-color: #1f2937;
 display: flex;
 padding: 150px 300px;
 justify-content: space-between;
}

.hero-text-container {
 display: flex;
 flex-direction: column;
 width: 800px;
}

.hero-main-text {
 font-size: 48px;
 color: #F9FAF8;
 font-weight: 900;
}

h2 {
 margin: -20px 0px;
}

.hero-secondary-text {
 font-size: 24px;
 color: #E5E7EB;
 font-weight: 200;
 padding: 0px 90px 0px 0px;
}

.hero-button {
 width: 150px;
 background-color: #3882f6;
 color: #F9FAF8;
 font-weight: bolder;
 font-size: 18px;
 padding: 10px 40px;
 white-space: nowrap;
 border-radius: 10px;
 overflow: hidden;
 
}

.wailord {
 height: 375px;
}

/* Info / card section */
#second-row-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-bottom: 250px;
}

.second-row-title {
 font-weight: 900;
 font-size: 36px;
 padding: 90px 0px;
}

.four-box-sub-container {
 display: flex;
 gap: 80px;
}

.boxes {
 border: 6px solid #3882f6;
 border-radius: 20px;
 background-color: white;
 height: 210px;
 width: 210px;
}

.subtext {
 margin-top: 225px;
 font-size: 22px;
 color: #6B6B6B;
 text-align: center;
 font-weight: 500;
}

/* Testimonial / quote section */
#quote-section {
 background-color: #E5E7EB;
 display: flex;
 flex-direction: column;
 padding: 100px 430px
}

.quote {
 font-size: 46px;
 font-style: italic;
 font-weight: 300;
 color: #404040;
}

.author {
 font-size: 28px;
 font-weight: 1000;
 text-align: right;
 margin: -20px 100px 0px 0px
}

.footer {
 margin-top: 100px;
 background-color: #1f2937;
}